<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Home</title>
    <style>
        .navbar {
            background-color: #1e7e34;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="btn text-light" th:href="${'/home'}">Home</a>
            </li>
            <li class="nav-item btn text-light">
                <a sec:authorize="isAuthenticated()" th:href="${'/profile'}">Profile</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn  btn-outline-light" th:href="${'/auth/login'}">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light mx-1" th:href="${'/auth/register'}">Sign up</a>
            </li>
        </ul>
    </div>
</nav>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>